DB_HOST=localhost
DB_PORT=5432
DB_NAME=bandersnatch
DB_USERNAME=tuckersoft
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=7200000

MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

ADMIN_NAME=Colin Ritman
ADMIN_EMAIL=colin@tuckersoft.co.uk
ADMIN_PASSWORD=
